.container1{
    background-color: lightblue;
    display: flex;
    padding: 20px;
    gap: 20px;
    /* display flex сообщает  что контейнер гибкий и элементы внутри
     будут располагаться по правилам flexbox
    gap - расстояние между элементами
    justify-content  - управляет расположение элементов по основной оси
     (основная ось не обязательно является горизонтальной) */
     justify-content: space-between;
     flex-direction: row;
}
.box{
    width: 250px;
    height: 350px;
}

.red{
    background-color: red;
}


.container2{
    background-color: lightcoral;
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: flex-end;
}

.green{
    background-color: green;
}